@model System.Web.Mvc.HandleErrorInfo

<h2>
    Ocorreu um erro não mapeado durante a execução
    da última ação...
</h2>

<p>
    <b>Controller que originou o erro:</b> @Model.ControllerName
</p>
<p>
    <b>Action:</b> @Model.ActionName
</p>
<p>
    <b>Tipo da Exceção:</b> @Model.Exception.GetType().FullName
</p>