
@{
    ViewBag.Title = "Cadastro";
}

@section HeadStyleContent
{

}

@section HeadScriptContent
{
    <script type="text/javascript">
        $(function () {
            
        })
    </script>        
}

<h2>Cadastro</h2>





